*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font-family{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Universl Green Button */
.green-button{
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
}
.transparent-button{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 16px;
    padding-bottom: 16px;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
#banner{
    width:100%;
    background-image: url('../assets/hero-bg.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 115.5px;
    padding-bottom: 179.5px;
}
.banner-text h1{
    margin-top:16px;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}
.banner-text p{
    font-size: 18px;
    color:#FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}
.banner-buttons{
    display: flex;
    gap:16px;
}
#notes{
    width:100%;
    border:#469165 1px solid;   
}