*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font-family{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Universl Green Button */
.green-button{
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
}
.green-button:hover{
    background-color: #FFFFFF;
    color: #469165;
    border: 1px solid #469165;
    cursor: pointer;
}
.transparent-button{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
}
.transparent-button:hover{
    background-color: #469165;
    border: none;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 16px;
    padding-bottom: 16px;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
#banner{
    width:100%;
    background-image: url('../assets/hero-bg.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 115.5px;
    padding-bottom: 179.5px;
}
.banner-text h1{
    margin-top:16px;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}
.banner-text p{
    font-size: 18px;
    color:#FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}
.banner-buttons{
    display: flex;
    gap:16px;
}
#notes{
    margin: 0 auto;
    width:100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1440px;
}
.red-div{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    margin-bottom: 16px;
}
.red-div img{
    margin-top: 12px;
}
.notes-description h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 64px;
    margin-bottom: 16px;
}
.notes-description p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
.notes-cards{
    display:flex;
    gap: 24px;
}
.note-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 69.5px 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.note-card-info h3{
    font-size: 24px;
    font-weight: 600;
    color:#001931;
    margin-bottom: 16px;
}
.note-card-info p{
    font-size: 16px;
    color:#627382;
    margin-bottom: 16px;
}
#solution{
    width:100%;
    margin-top: -80px;
    display: flex;
    align-items: center;
    gap:60px;
    background-color:#FFFFFF;
    position: relative;
    z-index: 2;
    padding: 165px;
}
.single-idea{
    display: flex;
    gap: 6px;
}
.solution-image img{
    width: 600px;
    height: 600px;
} 
.main-solution-p{
    font-size: 16px;
    color:#469165;
    font-weight: 500;
    margin-bottom: 16px;
}
.solution-content h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color:#001931;
}
.main-solution-des{
    font-size: 16px;
    color:#627382;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 20px;
}
.single-idea p{
    font-size: 16px;
    color:#001931;
    font-weight: 500;
}
.single-idea{
    margin-bottom: 16px;
}
.premium-container{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 80px 40px;
}
.premium-para h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color:#001931;
}
.premium-para p{
    font-size: 16px;
    margin-bottom: 16px;
    color:#627382;
    margin-bottom: 24px;
    line-height: 24px;
}
.premium-access p{
    font-size: 16px;
    margin-top:16px;
    color:#627382;
}
.premium-access button{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
#last{
    background-color: #001931;
    padding-top:120px;
    padding-right:165px;
    padding-left:165px;
    padding-bottom:30px;
}
#last p{
     margin-top:30px;
     text-align: center;
     color:#FFFFFF;
     font-size: 16px;
}
.footer-socials p{
    font-size: 20px;
    color:#FFFFFF;
}
.early-access button p{
    color:#469165;
    font-size: 16px;
    font-weight: 500;
}
.early-access button{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
}
.early-access button:hover{
    background-color: #469165;
    color: #FFFFFF;
    border: 1px solid #469165;
    cursor: pointer;
}
.early-access button p:hover{
     color: #FFFFFF;
}



