*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font-family{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Universl Green Button */
.green-button{
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
}
.transparent-button{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 16px;
    padding-bottom: 16px;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
#banner{
    width:100%;
    background-image: url('../assets/hero-bg.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 115.5px;
    padding-bottom: 179.5px;
}
.banner-text h1{
    margin-top:16px;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}
.banner-text p{
    font-size: 18px;
    color:#FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}
.banner-buttons{
    display: flex;
    gap:16px;
}
#notes{
    margin: 0 auto;
    width:100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1440px;
}
.red-div{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    margin-bottom: 16px;
}
.red-div img{
    margin-top: 12px;
}
.notes-description h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 64px;
    margin-bottom: 16px;
}
.notes-description p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
.notes-cards{
    display:flex;
    gap: 24px;
}
.note-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 69.5px 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.note-card-info h3{
    font-size: 24px;
    font-weight: 600;
    color:#001931;
    margin-bottom: 16px;
}
.note-card-info p{
    font-size: 16px;
    color:#627382;
    margin-bottom: 16px;
}

